*{ margin:0; padding:0;}
a{ text-decoration:none;}
li{ list-style:none;}

.fl{ float:left;}
.fr{ float:right;}
.clearFix:after{ content:''; display:block; clear:both;}

.hg_box{width:1090px;margin:0 auto;}

.hg_box1 h3{font-size:30px;margin:0 12px 16px 0;}
.hg_box1 span{font-size:14px;border-left:1px solid #666;padding-left:6px;margin-top:16px;}
.hg_yb{margin-top:16px;}
.hg_yb ul{margin-right:17px;} 
.hg_yb ul a{font-size:14px;color:#333;margin:0 14px;}
.hg_a{font-size:14px;color:#333;margin-top:2px;}
.hg_yb ul li a:hover{color:#b3a07d;}
.hg_a:hover{color:#b3a07d;}

.hg_tp{margin-bottom:50px;}
.hg_tp>a img{width:100%;height:310px;}
.hg_tp ul{width:1100px;margin-top:20px;}
.hg_tp ul li{width:265px;margin-right:10px;position:relative;text-align:center;}
.hg_tp1{width:265px;height:265px;background:#f4f4f4;display:block;margin-bottom:35px;}
.hg_tp1 img{width:265px;height:265px;transition:1s all ease;}
.hg_tp span{position:absolute;top:12px;left:12px;width:52px;height:19px;border:1px solid #b3a07d;
	        color:#b3a07d;font-size:12px;border-radius:5px;text-align:center;}
.hg_name{font-size:14px;color:black;font-weight:bold;}
.hg_price{font-size:14px;color:red;margin-top:13px;}
.hg_tp ul li:hover .hg_tp1 img{transform:scale(1.05);} 
.hg_name:hover{color:#b3a07d;}



