* {
    margin: 0;
    padding: 0
}

a {
    text-decoration: none
}

li {
    list-style: none
}

input{
    background: none;
    border:none;
    border: 1px solid #a9a9a9;
    padding-left: 3px;
}
.fl {
    float: left;
}

.fr {
    float: right;
}

.clearFix:after {
    content: "";
    display: block;
    clear: both
}
b{font-weight: normal;}

body, html {
    width: 100%;
    height: 100%;
}

input::-webkit-calendar-picker-indicator {
    display: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.zn_collective {
    width: 100%;
    background: #efefef;
}


/*整体样式*/

.zn_whole {
    width: 1000px;
    margin: 0 auto;
}


/*此乃网易严选的logo部分整体宽高*/

.zn_hd {
    width: 1000px;
    height: 130px;
    background: #efefef;
}


/*此乃网易严选的logo背景图*/

.zn_logo {
    width: 300px;
    height: 60px;
    background: url("../img/sprite.png") no-repeat;
    left: 0;
    top: 0;
    margin-top: 10px;
}


/*此乃已有账号？去登陆*/

.zn_already {
    display: block;
    margin-top: 50px;
    width: 144px;
    height: 20px;
    font-size: 16px;
}


/*登陆*/

.zn_already a {
    color: #ca74af;
}


/*此乃文本框那嘎达*/

.zn_formal {
    width: 1000px;
    background: #fff;
}


/*h3标题*/

.zn_article {
    color: #ca5252;
    padding: 44px 0 0 70px;
    font: normal 24px "Microsoft YaHei", "微软雅黑", "宋体", helvetica, "Hiragino Sans GB";
}


/*文本框*/

.zn_data {
    margin: 40px 290px;
    text-align: right;
    position: relative;
}
.zn_data b{
	position: absolute;
   left:430px;
    top: 10px;
    white-space:nowrap;
    color:red;
    font-size: 12px;
    display: none;
}

.z_close {
    position: absolute;
    top: 15px;
    right: 10px;
    color: #bbb1b1;
    opacity: 0.5;
    display: none;
}

.zn_format {
    width: 320px;
    height: 44px;
    font-size: 16px;
}


/*验证码输入框*/

.zn_data1 {
    border-radius: 20px;
}


/*切换国际手机*/

.zn_data2 {
    width: 256px;
    text-align: left;
    margin: -34px 384px;
}


/*获取短信验证码*/

.zn_format1 {
    width: 190px;
    height: 44px;
    font-size: 16px;
}


/*获取验证码按钮*/

.zn_format2 {
    width: 56x;
    height: 44px;
    font-size: 16px;
    background: #a1d1f6;
    cursor: pointer;
    color: #fff;
    border-radius: 10px;
}


/*注册提交*/

.zn_tail {
    width: 330px;
    margin: 0 384px;
    color: #ccc;
}

.zn_tailp {
    margin-top: 5px;
}

.zn_tail a {
    color: #ccc
}

.zn_register {
    width: 320px;
    height: 44px;
    font-size: 16px;
    color: #fff;
    background: #ca5252;
}


/*这是最后一张图*/

.zn_tailpic {
    margin-left: 50px;
    padding: 60px 0;
}
